
<canvas>
</canvas>

<div class="file_list">
  <span class="file">
    <div *ngFor="let cell of diff.old_notebook; index as cell_index" >
      
      <div [id]="getId(cell_index,'old')" class="cell">

        <div class="index element_p" style="background-color: aqua;">
          {{ cell_index + 1 }}
        </div>
        
        <div *ngIf="cell['cell_type'] == 'markdown'" class="type element_p">
            m
        </div>
        <div *ngIf = "cell['cell_type'] == 'code'" class="type element_p">
            c
        </div>
        <div style="display: block;background-color: aqua;width: 100%;">
          <div *ngFor="let line of cell.source; index as line_index">
            
            
            <div class="line">
              <div class="index element_p" style="background-color: orange;">
                {{ line_index + 1 }}
              </div>
              <div class="line_context element_p">
                {{ line }}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </span>

  <span class="file">
    <div *ngFor="let cell of diff.new_notebook; index as cell_index" >
      <span [id]="getId(cell_index,'new')" class="cell">
        <div class="index element_p" style="background-color: aqua;">
          {{ cell_index + 1 }}
        </div>
        
        <div *ngIf="cell['cell_type'] == 'markdown'" class="type element_p">
            m
        </div>
        <div *ngIf = "cell['cell_type'] == 'code'" class="type element_p">
            c
        </div>
        <div style="display: block;background-color: aqua;width: 100%;">
          <div *ngFor="let line of cell.source; index as line_index">
            
            
            <div class="line">
              <div class="index element_p" style="background-color: orange;">
                {{ line_index + 1 }}
              </div>
              <div class="line_context element_p">
                {{ line }}
              </div>
            </div>

          </div>
        </div>
      </span>
    </div>
  </span>

</div>




