.file_list{
  display: inline-flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  background-color: transparent;
  z-index: 2;
}

.file{
  display: block;
  width: auto;
  margin:30px;
}

.cell {
  display: flex;
  flex-direction: row;
  color: black;
  width: 300px;
  margin-bottom: 10px;
  background-color: white; 
}

div.index{
  color: black;
  width: 5%;
  align-items: center;
  text-align: right;
}

div.type{
  color: black;
  font-weight: bold;
  width: 5%;
  align-items: center;
  text-align: center;
}


div.cell_context{
  background-color: green;
  width: 5%;
  align-items: center;
  text-align: right;


}


div.line{
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.element_p{
  padding: 3px;
}

div.line_context{
  color:black;
  width: 95%;
  background-color: yellow;
}


