<h2>Cells</h2>

<div class="file_list">
  <div *ngFor="let file of file_list">
    <span class="file">
      <div *ngFor="let cell of file; index as cell_index">
        <span class="cell">
          <div class="index element_p" style="background-color: aqua;">
            {{ cell_index + 1 }}
          </div>
          
          <div *ngIf="cell['cell_type'] == 'markdown'" class="type element_p">
              m
          </div>
          <div *ngIf = "cell['cell_type'] == 'code'" class="type element_p">
              c
          </div>
          <div style="display: block;background-color: aqua;width: 100%;">
            <div *ngFor="let line of cell.source; index as line_index">
              
              
              <div class="line">
                <div class="index element_p" style="background-color: orange;">
                  {{ line_index + 1 }}
                </div>
                <div class="line_context element_p">
                  {{ line }}
                </div>
              </div>

            </div>
          </div>
        </span>
      </div>
    </span>
  </div>
</div>
