<h2>Cells</h2>

<div class="file_list">
  <div *ngFor="let file of file_list">
    <span class="file">
      <div *ngFor="let cell of file">
        <span class="cell">
          <div *ngFor="let line of cell.source; index as i">
            <div class="line">
              <div class="line_index line_element_p">
                {{ i + 1 }}
              </div>
              <div class="line_context line_element_p">
                {{ line }}
              </div>
            </div>
          </div>
        </span>
      </div>
    </span>
  </div>
</div>
